@import "src/shared/theme/colors.scss";


.imovelViewOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    width: 100%;
    height: 80%;

    .selection {
        select {
            background-color: $whiteColor;
            padding: 15px;
            border-radius: 10px;
        }
       
    }

    .arrowButtons {
        * { margin: 20px;
        }
    }

    .buttonTitle {
        background-color: $whiteColor;
        font-size: 1.8rem;
        padding: 15px;
        border-radius: 20px;
        color: $primarycolor;
    }
}