@import "src/shared/theme/colors.scss";

.button_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .normal_button {
        width: 70%;
        height: 50px;
        color: $secondaryColor;
        background-color: $whiteColor;
        border-radius: 10px;
        border: none;
        font-size: 1.0rem;
    }

    .hover_button {
        width: 70%;
        height: 50px;
        border-radius: 10px;
        border: none;
        font-size: 1.0rem;
        background-color: $tertiaryColor;
        color: $blackColor;
    }


    .button_selection_bar {
        display: none;

    }
    .hover_button_selection_bar {
        background-color: $secondaryColor;
        height: 8px;
        width: 60%;
        margin-top: 7px;
        border-radius: 25px;
    }
}